@import "reset";

:root {
	font-family: 'Rubik', sans-serif;
	--gray: #cdcdcd;
	--main: #16b67f;
	--x-small: 576px;
	--small: 768px;
	--medium: 992px;
	--large: 1200px;
}

html, body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}
